body {
    background-color: #EAF6F6;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: black;
    width: 5%;
}
h1 {
    color: #7B2869; font-size: 50px;
}
h2 {
    color: #EB455F; font-size: 25px;

}
h3 {

    color: #181D31;
}
img {
    background-color: none;
    animation-name: fadeInOut;
    animation-duration: 3s;
}